<nb-card>

  <nb-card-header>
    <div class="row">
      <div class="col-md-5">

        <button mat-icon-button [routerLink]="['new']" routerLinkActive="router-link-active">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-md-6 pt-2">
        <span class="text-lg-center"> Lançamentos Receitas e Despesas</span>
      </div>
    </div>

    <nb-card-header>
      <nb-accordion>
        <nb-accordion-item expanded = 'true'>
            <nb-accordion-item-header>Filtros</nb-accordion-item-header>
            <nb-accordion-item-body>
              <form [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
              <div class="form-row">

                <div class="form-group col-md-3">

                      <nb-select multiple fullWidth id="accountId" placeholder="Filtrar conta" formControlName="accountsIds">
                        <nb-option>Limpar</nb-option>
                        <nb-option  *ngFor="let account of accounts"
                                    [value]="account.id">{{ account.name }}

                        </nb-option>
                      </nb-select>
                    </div>

                <div class="form-group col-md-3">
                  <nb-select multiple fullWidth id="categoryId" placeholder="Filtrar categoria" formControlName="categoriesIds">
                    <nb-option>Limpar</nb-option>
                    <nb-option  *ngFor="let category of categories"
                                [value]="category.id">{{ category.name }}

                    </nb-option>
                  </nb-select>
                </div>

                <div class="form-group col-md-3">
                  <input fullWidth nbInput placeholder="Selecionar mês"
                        [nbDatepicker]="datePicker" formControlName="monthDate"
                        id="month">
                  <nb-datepicker #datePicker format="MM/yyyy"></nb-datepicker>
                </div>

                <div class="form-group col-md-3">
<!--                   <label for="tipo" class="label">Tipo</label> -->
                  <div class="form-row">
                    <nb-radio-group id="tipo" class="form-check-inline" formControlName="type">
                      <nb-radio
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-12 center" align="center">
                    <button nbButton hero status="primary">
                      buscar
                    </button>

                </div>

              </div>
            </form>
            </nb-accordion-item-body>
          </nb-accordion-item>
      </nb-accordion>
    </nb-card-header>

  </nb-card-header>

  <nb-card-body>

    <div fxLayout="column" class="p-2">

      <div class=" table table-hover  mat-elevation-z8  ">
        <table mat-table [dataSource]="dataSource" matSort class="table p-2  mat-elevation-z8">

          <div matColumnDef="date">
            <th *matHeaderCellDef mat-sort-header> Data</th>
            <td *matCellDef="let element">
              <span>{{element.date | date:"dd/MM/yyyy"}}</span>
            </td>
            <td *matFooterCellDef>
              <span class="font-weight-bold"> Saldo </span>
            </td>
          </div>

          <div matColumnDef="name">
            <th *matHeaderCellDef mat-sort-header> Lançamento</th>
            <td *matCellDef="let element">
              <span class="font-weight-bold">{{element.name}}</span>
              <br>
              <span class="break-line" *ngIf="element.description">{{element.description}}</span>
            </td>
            <td *matFooterCellDef></td>
          </div>

          <ng-container matColumnDef="category">
            <th *matHeaderCellDef mat-sort-header> Categoria</th>
            <td *matCellDef="let element">
              <span>{{element.categoryName}}</span>
            </td>
            <td *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th class="w-15" *matHeaderCellDef mat-sort-header> Valor</th>
            <td *matCellDef="let element">
              <strong [class.text-success]="!getClassType(element)"
                      [class.text-danger]="getClassType(element)">
                <span>{{element.amount  | currency : 'BRL'}}</span>
              </strong>
            </td>
            <td *matFooterCellDef>
              <strong [class.text-success]="getBalance() > 0"
                      [class.text-danger]="getBalance() < 0">
                <span> {{getBalance() | currency : 'BRL' }}</span>
              </strong>

            </td>
          </ng-container>

          <!-- Actions-->
          <ng-container matColumnDef="actions">
            <th class="table-actions" *matHeaderCellDef>Ações</th>
            <td class="w-15" *matCellDef="let element">
              <div class="table-actions">
                <button [routerLink]="[element.id, 'edit']" mat-icon-button class="iconbutton" color="primary">
                  <nb-icon icon="edit"></nb-icon>
                </button>
                <button mat-icon-button (click)="onDelete(element)" class="iconbutton" color="warn">
                  <nb-icon icon="trash"></nb-icon>
                </button>
              </div>
            </td>
            <td *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>
        </table>
        <mat-paginator [length]="recordCount"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="displayedPageSizeOptions">
        </mat-paginator>
      </div>

    </div>
  </nb-card-body>


</nb-card>




